<nav class="kf-tab-nav">
    <a [routerLink]="['/account/dashboard']" [routerLinkActive]="['kf-tab--active']" (click)="openMenu(false)">
        Dashboard
    </a>
    <a [routerLink]="['/account/order']" [routerLinkActive]="['kf-tab--active']" (click)="openMenu(false)">
        Orders
    </a>
    <a [routerLink]="['/account/addresses']" [routerLinkActive]="['kf-tab--active']" (click)="openMenu(false)">
        Addresses
    </a>
    <a [routerLink]="['/account/bank-details']" [routerLinkActive]="['kf-tab--active']" (click)="openMenu(false)">
        Account Details
    </a>
    <a [routerLink]="['/shop/wishlist']" [routerLinkActive]="['kf-tab--active']" (click)="openMenu(false)">
        Wishlist
    </a>
    <a href="javascript:void(0)" class="kf-tab--logout" (click)="confirmationModal.openModal()">
        Log out
    </a>
</nav>
<app-confirmation-modal #confirmationModal (confirmed)="logout()"></app-confirmation-modal>
