<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<section class="kf-dashboard">
    <div class="container-fluid-lg">
        <!-- Top Tab Nav -->
        <div class="kf-dash-topnav">
            <app-sidebar></app-sidebar>
        </div>
        <!-- Content -->
        <main class="kf-dash-content">
            <div class="box-loader" *ngIf="(loadingStatus$ | async)">
                <app-loader [loaderClass]="'custom-loader-wrapper blur-bg'"></app-loader>
            </div>
            <router-outlet></router-outlet>
        </main>
    </div>
</section>
