<!-- Page Header -->
<section class="kfw-page">
  <div class="container-fluid-lg">

    <!-- Header bar -->
    <div class="kfw-header">
      <div class="kfw-header-left">
        <div class="kfw-header-icon">
          <i class="ri-heart-line"></i>
        </div>
        <div>
          <h4 class="kfw-title">My Wishlist</h4>
          <p class="kfw-subtitle">Your saved favourites, all in one place</p>
        </div>
      </div>
      <div class="kfw-header-right" *ngIf="(wishlistItems$ | async)?.data?.length">
        <span class="kfw-count-badge">
          {{ (wishlistItems$ | async)?.data?.length }}
          {{ (wishlistItems$ | async)?.data?.length === 1 ? 'Item' : 'Items' }} Saved
        </span>
      </div>
    </div>

    <!-- Skeleton -->
    <ng-container *ngIf="wishlistService?.skeletonLoader else productContent">
      <div class="row g-sm-3 g-2">
        <div class="col-xxl-2 col-lg-3 col-md-4 col-6 product-box-contain"
          *ngFor="let item of skeletonItems">
          <app-skeleton-product-box></app-skeleton-product-box>
        </div>
      </div>
    </ng-container>

    <!-- Products -->
    <ng-template #productContent>
      <ng-container *ngIf="(wishlistItems$ | async)?.data?.length; else emptyState">
        <div class="row g-sm-3 g-2"
          [ngClass]="{
            'product_border': (themeOption$ | async)?.product?.full_border || (themeOption$ | async)?.product?.product_box_border,
            'product_img_bg': (themeOption$ | async)?.product?.image_bg,
            'full_bg': (themeOption$ | async)?.product?.product_box_bg
          }">
          <div class="col-xxl-2 col-lg-3 col-md-4 col-6 product-box-contain"
            *ngFor="let product of (wishlistItems$ | async)?.data">
            <app-product-box [product]="product" [close]="true" [class]="'product-box-3'" [style]="'horizontal'">
            </app-product-box>
          </div>
        </div>
      </ng-container>

      <!-- Empty State -->
      <ng-template #emptyState>
        <div class="kfw-empty">
          <div class="kfw-empty-icon">
            <i class="ri-heart-line"></i>
          </div>
          <h4>Your wishlist is empty</h4>
          <p>Browse our collection and save items you love. They'll appear right here.</p>
          <a [routerLink]="['/collections']" class="kfw-btn">
            <span>Start Shopping</span>
            <i class="ri-arrow-right-line"></i>
          </a>
        </div>
      </ng-template>
    </ng-template>

  </div>
</section>
